@use './../color' as c;

.taskList {
  margin: 50px auto;
  list-style: none;
  width: 100%;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-menu {
  text-align: right;
}

.list-tab {
  list-style: none;
  display: flex;
  overflow-x: hidden;
}

.list-tab-item {
  flex-shrink: 0;
  width: 100px;
  padding: 0 25px;
  text-overflow: normal;
  margin-right: 5px;
  border: solid 1px c.$blue;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: c.$blue;
  color: c.$white;
}

.tasks {
  margin-top: 25px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
}

.task-item {
  list-style-type: none;
  height: 120px;
  width: auto;
  background-color: c.$whitesmoke;
  padding-left: 25px;
  font-size: large;
  border: solid 1px c.$white;
}

.task-item-link {
  display: block;
  width: auto;
  height: 100%;
  text-decoration: none;
  color: c.$black;
}

.error-message {
  color: c.$red;
}

.display-select-wrapper {
  width: 100px;
  margin: 0 0 25px auto;
}

.display-select {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .list-tab {
    overflow-x: scroll;
  }

  .list-header {
    display: block;
  }

  .list-menu {
    text-align: left;
  }

  .tasks-header {
    display: block;
  }

  .display-select-wrapper {
    width: 100px;
    margin: 0 0 25px;
  }

}

@media screen and (max-width: 320px) {
  .taskList {
    text-align: center;
  }

  .list-menu {
    text-align: center;
  }

  .list-tab-item {
    width: auto;
  }

  .display-select-wrapper {
    text-align: center;
    margin: auto;
  }
}