@charset "utf-8";
@use './../color' as c;

.signup {
  width: 500px;
  margin: 0 auto;
}
.signup-form {
  margin: 25px 0;
  color: c.$gray;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signup-button {
  background-color: c.$blue;
  color: c.$white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: c.$red;
}
