@charset "utf-8";
@use './../button' as b;
@use './../color' as c;

.signin {
  width: 500px;
  margin: 0 auto;
}

.signin-form {
  margin: 25px 0;
}

.email-label,
.password-label {
  color: c.$gray;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signin-button {
  background-color: c.$blue;
  color: c.$white;
  @include b.button;
}

.error-message {
  color: c.$red;
}
