@charset "utf-8";
@use './../color' as c;

.header {
  width: auto;
  height: 60px;
  background-color: c.$blue;
  color: c.$white;
  display: flex;
  justify-content: space-between;
}

.sign-out-button {
  color: c.$white;
  margin: auto 25px auto auto;
}
